
<ul>
  <li><a href="{% url 'learning_logs:index' %}">Home</a></li>
  <li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
  <li><a href="{% url 'learning_logs:pizaeria' %}">Pizaeria</a></li>
  <li><a href="{% url 'learning_logs:new_topic' %}">New Topic Add</a></li>
  {% comment %} <li><a href="{% url 'learning_logs:topic' topic.id %}">Topic Name</a></li> {% endcomment %}

<!--Link to the login page-->
{% if user.is_authenticated %}
    Hello, {{ user.username }}.

    <!--Link to the logout page-->
    <!--unfortunatly not redirect by logged_out.html page . it's going to admin logout page.-->
    <!--that's why redirect in setting.py by LOGOUT_REDIRECT_URL = 'users:login' -->
    <a href="{% url 'users:logout' %}">Log Out</a>

{% else %}
    <li><a href="{% url 'users:login' %}">Log In</a></li>
{% endif %}





</ul>


{% block content %}

{% endblock content %}

