{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't match . Please try again</p>
{% endif %}

<form method="post" action="{% url 'users:login' %}"> <!--url 'users:login'/// this means default process of users login view-->
    {% csrf_token %}
    {{ form.as_p }}

    <button type='submit'>Log In</button>

    <!--this is redirect the user after they are login-->
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" > 
    
</form> 


{% endblock content %}